.countdown-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.days,
.hours,
.minutes,
.seconds {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    justify-content: center;
    align-items: center;
}

.day,
.hour,
.minute,
.second,
.divider {
    font-weight: 700;
    font-size: 160px;
}