.countdown-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.days,
.hours,
.minutes,
.seconds {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    justify-content: center;
    align-items: center;
    font-size: clamp(9px, 2vw, 60px);
}

.day,
.hour,
.minute,
.second,
.divider {
    font-weight: 700;
    font-size: clamp(30px, 10vw, 160px);
}